on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: List files at start
        shell: pwsh
        run: Get-ChildItem | Select-Object -ExpandProperty FullName
        
      - uses: actions/checkout@v4

      - name: List files before
        shell: pwsh
        run: Get-ChildItem | Select-Object -ExpandProperty FullName
        
      - name: Run Custom Action
        #uses: bforl/FeatureBuilderOutput/.github/actions/getOutput@v1
        uses: bforl/FeatureBuilder/.github/actions/createoutput@main
        with:
          output-path: ${{github.workspace}}/output53/build-result.txt

      - name: List files after
        shell: pwsh
        run: Get-ChildItem | Select-Object -ExpandProperty FullName

      - run: cat "${{github.workspace}}/output53/build-result.txt"
        shell: bash



      - name: Run Custom Action A
        uses: bforl/FeatureBuilder/.github/actions/createoutput@A
        with:
          output-path: ${{github.workspace}}/output53/build-result.txt

      - run: cat "${{github.workspace}}/output53/build-result.txt"
        shell: bash

      - name: Run Custom Action B
        uses: bforl/FeatureBuilder/.github/actions/createoutput@B
        with:
          output-path: ${{github.workspace}}/output53/build-result.txt

      - run: cat "${{github.workspace}}/output53/build-result.txt"
        shell: bash

      - name: Run Custom Action C
        uses: bforl/FeatureBuilder/.github/actions/createoutput@C
        with:
          output-path: ${{github.workspace}}/output53/build-result.txt

      - run: cat "${{github.workspace}}/output53/build-result.txt"
        shell: bash

      - name: Run Custom Action Main
        uses: bforl/FeatureBuilder/.github/actions/createoutput@main
        with:
          output-path: ${{github.workspace}}/output53/build-result.txt

      - run: cat "${{github.workspace}}/output53/build-result.txt"
        shell: bash
